<html>
    <head>
        <title>IP Checker</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'asset.css') }}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!-- A grey horizontal navbar that becomes vertical on small screens -->
        <nav class="navbar bg-dark">
          <h1 class="nav-header">IP Checker</h1>
        </nav> 

      <div class="container">

        <form action="/search" method="get">
          <div class="form-group">
            <label for="ip-address">IP Address</label>
            <input type="text" class="form-control" name="ipaddress" value="{{ ipadd }}" placeholder="Enter ip address" id="ip-address">
          </div>
          
          <button type="submit" class="btn btn-primary">Submit</button>
        </form> 

        <div>
          <table class="table table-striped">
            {% for key in res: %}
            <tr>
              <th>{{ key }}</th>
              <td>{{ res[key] }}</td>
            </tr>
            {%  endfor  %}
          </table>
              
                 
              

          
        </div>

      </div>
        
     
    </body>
</html>