<html>
    <head>
        <title>IP Checker</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'asset.css') }}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!-- A grey horizontal navbar that becomes vertical on small screens -->
        <nav class="navbar bg-dark">
          <h1 class="nav-header">IP Checker</h1>
        </nav> 

      <div class="container">

        <form action="/search" method="get">
          <div class="form-group">
            <label for="ip-address">IP Address</label>
            <input type="text" class="form-control" name="ipaddress" value="{{ ipadd }}" placeholder="Enter any IPv4, IPv6 address or domain name" id="ip-address">
          </div>
          
          <button type="submit" class="btn btn-primary">Submit</button>
        </form> 

        <div>
          {% if(res): %}
          <table class="table table-striped">
            <tbody>
              <tr>
                <th>{{ 'IP' }}</th>
                <td>{{  res['ip'] }}</td>
              </tr>
              <tr>
                <th>{{ 'Continent Code' }}</th>
                <td>{{  res['continent_code'] }}</td>
              </tr>
              <tr>
                <th>{{ 'Continent Name' }}</th>
                <td>{{  res['continent_name'] }}</td>
              </tr>
              <tr>
                <th>{{ 'Country' }}</th>
                <td>{{  res['country_name'] }}</td>
              </tr>
              <tr>
                <th>{{ 'Country Flag' }}</th>
                <td><img height="30px" src="{{  res['country_flag'] }}" alt=""></td>
              </tr>
              <tr>
                <th>{{ 'Country Capital' }}</th>
                <td>{{  res['country_capital'] }}</td>
              </tr>
              <tr>
                <th>{{ 'State Province' }}</th>
                <td>{{  res['state_prov'] }}</td>
              </tr>
              <tr>
                <th>{{ 'District' }}</th>
                <td>{{  res['district'] }}</td>
              </tr>
              <tr>
                <th>{{ 'City' }}</th>
                <td>{{  res['city'] }}</td>
              </tr>
              <tr>
                <th>{{ 'Zipcode' }}</th>
                <td>{{  res['zipcode'] }}</td>
              </tr>
              <tr>
                <th>{{ 'latitude' }}</th>
                <td>{{  res['latitude'] }}</td>
              </tr>
              <tr>
                <th>{{ 'longitude' }}</th>
                <td>{{  res['longitude'] }}</td>
              </tr>
              <tr>
                <th>{{ 'Is EU?' }}</th>
                <td>{{  res['is_eu'] }}</td>
              </tr>
              <tr>
                <th>{{ 'Calling Code' }}</th>
                <td>{{  res['calling_code'] }}</td>
              </tr>
              <tr>
                <th>{{ 'Country TLD' }}</th>
                <td>{{  res['country_tld'] }}</td>
              </tr>
              <tr>
                <th>{{ 'languages' }}</th>
                <td>{{  res['languages'] }}</td>
              </tr>
              <tr>
                <th>{{ 'ISP' }}</th>
                <td>{{  res['isp'] }}</td>
              </tr>
              <tr>
                <th>{{ 'Connection Type' }}</th>
                <td>{{  res['connection_type'] }}</td>
              </tr>
              <tr>
                <th>{{ 'organization' }}</th>
                <td>{{  res['organization'] }}</td>
              </tr>
              <tr>
                <th>{{ 'AS Number' }}</th>
                <td>{{  res['asn'] }}</td>
              </tr>
              <tr>
                <th>{{ 'Geoname ID' }}</th>
                <td>{{  res['geoname_id'] }}</td>
              </tr>
              <tr>
                <th>{{ 'Currency' }}</th>
                <td>{{  res['currency']['name'] }}</td>
              </tr>
              <tr>
                <th>{{ 'Currency Code' }}</th>
                <td>{{  res['currency']['code'] }}</td>
              </tr>
              <tr>
                <th>{{ 'Currency Symbol' }}</th>
                <td>{{  res['currency']['symbol'] }}</td>
              </tr>
              <tr>
                <th>{{ 'Time Zone' }}</th>
                <td>{{  res['time_zone']['name']  }}</td>
              </tr>
              <tr>
                <th>{{ 'Time Zone offset' }}</th>
                <td>{{  res['time_zone']['offset'] }}</td>
              </tr>
              <tr>
                <th>{{ 'Current Time' }}</th>
                <td>{{  res['time_zone']['current_time'] }}</td>
              </tr>
              <tr>
                <th>{{ 'Current Time Unix' }}</th>
                <td>{{  res['time_zone']['current_time_unix'] }}</td>
              </tr>
              <tr>
                <th>{{ 'Is DST?' }}</th>
                <td>{{  res['time_zone']['is_dst'] }}</td>
              </tr>
              <tr>
                <th>{{ 'DST Savings' }}</th>
                <td>{{  res['currency']['dst_savings'] }}</td>
              </tr>
            </tbody>
          </table>

          {%else:%}
            {{'No Data Found!!!'}}
          {% endif %}
        </div>
      </div>
    </body>
</html>